<html>
<head>
 <link rel="stylesheet" type="text/css" href="../css/bootstrap.css">
  <link rel="stylesheet" type="text/css" href="../css/login.css">
<script src="../js/angular.js" type="text/javascript"></script>
<script src="../js/loginForm.js" type="text/javascript"></script>
<style>
.demo{
position:absolute;
left:10%;
top:2%;
}
.demo1{
position:absolute;
right:10%;
top:10%;
}
</style>

 </head>
 
 
<body>
<div class="demo">
<div class="col-lg-5 col-md-5 col-xs-12 col-sm-6 " style="background-color: white;padding:25px;margin-top:15px;margin-bottom:20px">
            <h4 style="color:red;text-align: center">Search For Bus Tickets</h4>
            <div class="input-container" ng-controller="Search_Service_Controller" style="margin-top:20px">
                <i class="fa fa-bus icon"></i>
                <input class="input-field" type="text" placeholder="From" name="usrnm" ng-model="source">
            </div>

            <div class="input-container">
                <i class="fa fa-bus icon"></i>
                <input class="input-field" type="text" placeholder="To" name="email" ng-model="destination">
            </div>

            <div class="input-container">
                <i class="fa fa-calendar icon"></i>
                <input class="input-field" type="date" placeholder="Onward Date" name="onward" ng-model="onward" min="2018-08-09">
            </div>
            <div class="input-container">
                <i class="fa fa-calendar icon"></i>
                <input class="input-field" type="date" placeholder="Return Date" name="return" ng-model="return" min="2018-08-09">
            </div>

            <button type="submit" class="btn" ng-click="serachBus()">Search</button>
            </form>

        </div>
        </div>
        
<div class="container"  style="margin-left:120px"; >
	<div class="panel panel-primary"  ng-controller="loginController" >
		<div class="panel-heading">
			<h3 class="panel-title">Passenger Login</h3>
		</div>
		
		<div class="panel-body">
			<div class="form-group">
				<label for="userName">userName</label> <input type="text"
					class="form-control" ng-model="userName">
			</div>

			<div class="form-group">
				<label for="Password">password</label> <input type="password"
					class="form-control" ng-model="password">
			</div>


			
		<div class="form-group">
			<button class="btn btn-primary" value="Login" ng-click="login()">Login</button>

		</div>
		

	</div>

</div>
</body>

</html>

