.qmclear {
	
}

.qmmc:after {
	content: ".";
	display: block;
	height: 0px;
	clear: both;
	overflow: hidden;
}

.qmmc img {
	border: none;
}

.qmmc,.qmmc>span,.qmmc>a,.qmmc div>a,.qmmc dd>a,.qmmc li>a,.qmmc div>span,.qmmc dd>span,.qmmc li>span,.qmmc div.qmsub,.qmmc dl,.qmmc dd,.qmmc .qmsub>li,.qmmc ul.qmsub
	{
	text-align: left;
	outline: none;
	font-weight: normal;
	text-decoration: none;
	font-family: Arial;
	font-size: 14px;
	line-height: normal;
	padding: 0px;
	margin: 0px;
	color: #333;
	background-color: transparent;
}

.qmmc .qmiefix {
	z-index: 0;
}

.qmmc,.qmmc .qmsub,.qmmc .qmmulti {
	list-style: none;
	padding: 0px;
	margin: 0px;
}

.qmmc .qmdivider {
	display: block;
	border-width: 0px;
	border-style: solid;
	position: relative;
}

.qmmc .qmtitle {
	display: block;
	cursor: default;
	white-space: nowrap;
	position: relative;
}

.qmmc {
	position: relative;
	zoom: 1;
}

.qmmc .qmitem-m,.qmmc>li {
	display: block;
	white-space: nowrap;
	position: relative;
}

.qmmc .qmitem-s,.qmmc .qmsub>li {
	display: block;
	white-space: nowrap;
	position: relative;
}

.qmmc .qmsub {
	visibility: hidden;
	position: absolute;
	z-index: 10;
	left: 100%;
	top: 0px;
}

.qmmc div.qmsub {
	left: 0px;
}

.qmmc .qmcbox {
	cursor: default;
	display: block;
	position: relative;
	white-space: normal;
}

.qmmc .qmmulti {
	display: block;
	float: left;
	position: relative;
}

.qmmc .qmmulti dd {
	margin: 0px;
	padding: 0px;
	position: relative;
}

.qmmc.qm-horizontal-c>li,.qmmc.qm-horizontal-c .qmitem-m,.qmsub.qm-horizontal-c>li,.qmsub.qm-horizontal-c>.qmitem-s,.qm-horizontal-c>.qmtitle,.qm-horizontal-c>.qmdivider,.qm-horizontal-c>.qmcbox,.qm-horizontal-c>li>.qmtitle,.qm-horizontal-c>li>.qmdivider,.qm-horizontal-c>li>.qmcbox
	{
	float: left;
}

.qm-horizontal-c>li>.qmsub {
	left: 0px;
	top: 100%
}

.qmmc li:hover>.qmsub,.qmmc dd:hover>ul.qmsub {
	visibility: inherit;
}

.qmmc .qmml0 {
	z-index: 99;
}

.qmmc .qmml1 {
	z-index: 98;
}

.qmmc .qmml2 {
	z-index: 97;
}

.qmmc .qmml3 {
	z-index: 96;
}

.qmmc .qmml4 {
	z-index: 95;
}

.qmmc .qmml5 {
	z-index: 94;
}

.qmmc .qmml6 {
	z-index: 93;
}

.qmmc .qmml7 {
	z-index: 92;
}

.qmmc .qmml8 {
	z-index: 91;
}

.qmmc .qmml9 {
	z-index: 90;
}

#qm1 {
	width: auto;
	color: #FFF;
	font-weight: bold;
	font-size: 12px;
	padding: 2px 6px 5px;
	background:
		url('../../images/ui-bg_gloss-wave_55_5c9ccc_500x100.png')
		repeat-x scroll 50% 50% #5C9CCC;
	border-width: 1px;
	border-style: solid;
	border-color: #D0D0D0;
	-moz-border-radius: 4px 4px 4px 4px;
	-webkit-border-radius: 4px 4px 4px 4px;
	-ms-border-radius: 4px 4px 4px 4px;
	-o-border-radius: 4px 4px 4px 4px;
	-khtml-border-radius: 4px 4px 4px 4px;
	border-radius: 4px 4px 4px 4px;
}

/*"""""""" (MAIN) Items""""""""*/
#qm1 .qmitem-m {
	padding: 4px 25px 5px 9px;
	background-color: transparent;
	color: #FFFFFF;
	font-family: Arial;
	font-size: 12px;
	font-weight: bold;
	text-decoration: none;
	border-width: 1px 1px 0px;
	border-style: solid;
	border-color: transparent;
	-moz-border-radius: 4px 4px 0px 0px;
	-webkit-border-radius: 4px 4px 0px 0px;
	-ms-border-radius: 4px 4px 0px 0px;
	-o-border-radius: 4px 4px 0px 0px;
	-khtml-border-radius: 4px 4px 0px 0px;
	border-radius: 4px 4px 0px 0px;
}

/*"""""""" (MAIN) Active State""""""""*/
#qm1.qmmc .qmitem-m.qmactive,#qm1 li:hover>.qmitem-m.qmparent,#qm1 dd:hover>.qmitem-m.qmparent
	{
	z-index: 100;
	background-color: #FFFFFF;
	color: #333333;
	border-color: gray;
}

/*"""""""" (SUB) Container""""""""*/
#qm1 .qmsub {
	width: 182px;
	padding: 3px 12px;
	margin: -1px 0px 0px;
	background-color: #FFFFFF;
	border-width: 1px;
	border-style: solid;
	border-color: gray;
	-moz-border-radius: 0px 4px 2px 2px;
	-webkit-border-radius: 0px 4px 2px 2px;
	-ms-border-radius: 0px 4px 2px 2px;
	-o-border-radius: 0px 4px 2px 2px;
	-khtml-border-radius: 0px 4px 2px 2px;
	border-radius: 0px 4px 2px 2px;
	-moz-box-shadow: 2px 2px 2px rgba(121, 121, 121, 0.7);
	-webkit-box-shadow: 2px 2px 2px rgba(121, 121, 121, 0.7);
	-ms-box-shadow: 2px 2px 2px rgba(121, 121, 121, 0.7);
	-o-box-shadow: 2px 2px 2px rgba(121, 121, 121, 0.7);
	-khtml-box-shadow: 2px 2px 2px rgba(121, 121, 121, 0.7);
	box-shadow: 2px 2px 2px rgba(121, 121, 121, 0.7);
}

/*"""""""" (SUB) Column""""""""*/
#qm1 .qmsub .qmmulti {
	padding: 10px;
}

/*"""""""" (SUB) Items""""""""*/
#qm1 .qmitem-s {
	padding: 0px 40px 0px 5px;
	margin: 0px;
	color: #656565;
	font-size: 12px;
	text-decoration: none;
	text-align: left;
	line-height: 28px;
	border-width: 0px;
	border-style: solid;
	border-color: #EAEAEA;
	-moz-border-radius: 4px 4px 4px 4px;
	-webkit-border-radius: 4px 4px 4px 4px;
	-ms-border-radius: 4px 4px 4px 4px;
	-o-border-radius: 4px 4px 4px 4px;
	-khtml-border-radius: 4px 4px 4px 4px;
	border-radius: 4px 4px 4px 4px;
}

/*"""""""" (SUB) Hover State""""""""*/
#qm1 .qmitem-s:hover {
	background-color: #015198;
	color: #FFFFFF;
	text-decoration: none;
	border-color: #000000;
}

/*"""""""" (SUB) Active State""""""""*/
#qm1.qmmc .qmitem-s.qmactive,#qm1 ul li:hover>.qmitem-s.qmparent,#qm1 ul dd:hover>.qmitem-s.qmparent
	{
	background-color: #FFFFFF;
	border-color: #000000;
}

/*"""""""" Individual Titles""""""""*/
#qm1 .qmtitle {
	margin: 10px 0px 5px;
	color: #333333;
	font-family: Arial;
	font-size: 14px;
	font-weight: bold;
}

/*"""""""" Individual Horizontal Dividers""""""""*/
#qm1>.qmdivider,#qm1 .qmsub>.qmdivider,#qm1 dd>.qmdivider,#qm1>li>.qmdivider,#qm1 .qmsub>li>.qmdivider
	{
	height: 1px;
	background-color: #D0D0D0;
	margin: 4px 0px;
}

/*"""""""" Custom Rule""""""""*/
div#qm1 .qmsub .qmsub,ul#qm1 .qmsub .qmsub {
	margin: 0px 0px 0px 3px;
}
/*[END-QS1]*/
.tools {
	float: right !important;
}

.qmfv {
	visibility: visible !important;
}

.qmfh {
	visibility: hidden !important;
}