@CHARSET "ISO-8859-1";
table.Widget-Table{
    width:  100%;
    font-size: 12;
}

table.Widget-Table tr:first-of-type {
  background-color: #E6E6E6;
  font-weight: bold;
}

table.Widget-Table tr:nth-of-type(2) {
  background-color: #E6E6E6;
  font-weight: 
  bold;color: #015198
}

table.Widget-Table th {
	 border-right-style: solid;
    border-right-color: #C0C0C0;
    border-right-width: 1px;
     border-bottom-style: solid;
    border-bottom-color: #C0C0C0;
    border-bottom-width: 1px;
} 

table.Widget-Table td {
	  font-size: 12;
}


table.Widget-Table td:nth-of-type(1){
    font-weight: bold; 
    color: #015198;
}
table.Widget-Table td {
    padding: 4px;
    border-bottom-style: solid;
    border-bottom-color: #C0C0C0;
    border-bottom-width: 1px;
    border-right-style: solid;
    border-right-color: #C0C0C0;
    border-right-width: 1px;
    
}

table.Widget-Table td:nth-of-type(1) {
    text-align:left;
}

table.Widget-Table td {
    text-align:right;
}
