<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/eliteaaa/src/com/elitecore/aaa/EliteAAACLI.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<mapAttribute key="org.eclipse.debug.core.environmentVariables">
<mapEntry key="ELITEAAA_HOME" value=""/>
</mapAttribute>
<booleanAttribute key="org.eclipse.debug.ui.ATTR_APPEND_TO_FILE" value="true"/>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="com.elitecore.aaa.EliteAAACLI"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="eliteaaa"/>
<stringAttribute key="org.eclipse.jdt.launching.VM_ARGUMENTS" value="-Djline.terminal=jline.UnsupportedTerminal"/>
</launchConfiguration>
