body {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #000000;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	background-color: #CCCCCC;
}
.MenuText {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	background-color: #E46713;
	line-height: 20px;
	color: #FFFFFF;
}

.LoginBkgd {
	background-color: #999999;
	line-height: 1px;
}
.LoginText {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: bold;
	color: #FFFFFF;
}

.CompanyName {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: bold;
	color: #333333;
	padding-left: 8px;
	border-left-width: 1px;
	border-left-style: solid;
	border-left-color: #CCCCCC;
}

.BreadCrumbs {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #666666;
	padding-left: 2px;
}
.PageHeader {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 15px;
	font-weight: bold;
	color: #E46713;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #CCCCCC;
	line-height: 23px;
	padding-left: 2px;
}
.SmallGap {
	font-family: Arial, Helvetica, sans-serif;
	line-height: 4px;
}
.Box {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #000000;
	border: 1px solid #999999;
	background-color: #FFFFFF;
}
.TextLabels {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 18px;
	color: #000000;
	padding-left: 2px;
}


.Footer {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #FFFFFF;
	background-color: #EEEEEE;
}
.TextLabelsBold {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 18px;
	color: #000000;
	font-weight: bold;
	padding-left: 2px;
}

.MenuText a{text-decoration:none; color:#FFFFFF}
.MenuText a:hover{text-decoration:underline; color:#FFFFFF}


.BreadCrumbs a{text-decoration:underline; color:#666666}
.BreadCrumbs a:hover{text-decoration:none; color:#000000}
.VerticalSeprator {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #000000;
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: #CCCCCC;
}
.TableHeader {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 20px;
	color: #000000;
	font-weight: bold;
	padding-left: 2px;
	background-color: #E1E1E1;
}
.TableRows {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 18px;
	color: #000000;
	padding-left: 2px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-right-color: #E1E1E1;
	border-bottom-color: #E1E1E1;
	border-left-color: #E1E1E1;
}
.TableRowsBkgd {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 18px;
	color: #000000;
	padding-left: 2px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-right-color: #E1E1E1;
	border-bottom-color: #E1E1E1;
	border-left-color: #E1E1E1;
	background-color: #F8F8F8;
}
.TableRowsRightAlign {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 18px;
	color: #000000;
	padding-left: 2px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-right-color: #E1E1E1;
	border-bottom-color: #E1E1E1;
	border-left-color: #E1E1E1;
	text-align: right;
	padding-right: 6px;
}
.TableRowsBkgdRightAlign {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 18px;
	color: #000000;
	padding-left: 2px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-right-color: #E1E1E1;
	border-bottom-color: #E1E1E1;
	border-left-color: #E1E1E1;
	background-color: #F8F8F8;
	text-align: right;
	padding-right: 6px;
}
.TableRowsIndented {

	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 18px;
	color: #000000;
	padding-left: 15px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-right-color: #E1E1E1;
	border-bottom-color: #E1E1E1;
	border-left-color: #E1E1E1;
}
.TableRowsBkgdIndented {

	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 18px;
	color: #000000;
	padding-left: 15px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-right-color: #E1E1E1;
	border-bottom-color: #E1E1E1;
	border-left-color: #E1E1E1;
	background-color: #F8F8F8;
}
.Notes {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #333333;
	padding-left: 2px;
}
.TableMessage {

	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 30px;
	color: #E46713;
	padding-left: 2px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-right-color: #E1E1E1;
	border-bottom-color: #E1E1E1;
	border-left-color: #E1E1E1;
}
.LeftNavigation {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #333333;
	padding-right: 1px;
	padding-left: 20px;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	border-top-color: #CCCCCC;
	border-right-color: #CCCCCC;
	border-bottom-color: #CCCCCC;
	border-left-color: #CCCCCC;
	line-height: 22px;
}
.LeftNavigationSelected {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #333333;
	padding-right: 1px;
	padding-left: 20px;
	border-top-width: 1px;
	border-right-width: 8px;
	border-bottom-width: 0px;
	border-left-width: 0px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: none;
	border-left-style: none;
	border-top-color: #EEEEEE;
	border-right-color: #E46713;
	line-height: 22px;
	background-color: #EAEAEA;
}

.LeftNavigationSelected a{text-decoration:none; color:#333333}
.LeftNavigationSelected a:hover{text-decoration:none; color:#E46713}

.LeftNavigation a{text-decoration:none; color:#333333}
.LeftNavigation a:hover{text-decoration:none; color:#E46713}

.InputFields {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #000000;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: inset;
	border-bottom-style: inset;
	border-left-style: solid;
	border-top-color: #EBEBEB;
	border-right-color: #999999;
	border-bottom-color: #999999;
	border-left-color: #EBEBEB;
}
.Buttons {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #000000;
	background-color: #ECECEC;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-right-style: solid;
	border-bottom-style: solid;
	border-right-color: #666666;
	border-bottom-color: #666666;
	line-height: 18px;
	padding-right: 3px;
	padding-left: 3px;
}

.WhiteText {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #FFFFFF;
}

.PwdText {

	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #FFFFFF;
}
.PwdText a {
text-decoration:underline; color:#FFFFFF
}
.PwdText a:hover {
text-decoration:none; color:#FFFFFF
}
.WhiteHeader {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	color: #FFFFFF;
	font-weight: bold;
}
