bin/**
build/**
!build/exploded/**
data/**
default/**
docs/**
e2etestsrc/**
logs/**
out/**
multiple_node_setup_data/**
scrips/**
src/**
system/**
testsrc/**
out/**
resources/**
.settings/**
setup/**
WebContent/**
