
**/.gradle/**
**/build/**
**/.idea/**
**/out/**
**/logs/**
**/.project
**/.classpath
**/.settings/**
**/_sys.init
Applications/nvsmx/setup/database/voltdb/NetVertex-PCC-StoredProcedure.jar
EliteLibraries/corenetvertex/derby.log
*.log
Applications/netvertex/data/**
Applications/netvertex/system/**
EliteLibraries/corenetvertex/src/com/elitecore/corenetvertex/spr/voltdb/storedprocedure/*.class
**/classes
**/testclasses
**/test-classes
**/Version.java
**/multiple_node_setup_data/**
**/softwares/**
**/source/**
**/bin/**
